In [ ]:
import pandas as pd


# Ruta al archivo CSV
ruta ="../../Data/Data Cruda/play_by_play_filtrado.csv"
df = pd.read_csv(ruta)
df.head()

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
import pandas as pd

# Rutas a los archivos
play_by_play_path = "../../Data Cruda/play_by_play.csv"
game_path = "../../Data/Data Cruda/game.csv"

# Leer los datasets
df_play = pd.read_csv(play_by_play_path)
df_game = pd.read_csv(game_path)  

# Verificar columnas de df_game
print("Columnas de df_game:", df_game.columns)

# Eliminar espacios en los nombres de columnas
df_game.columns = df_game.columns.str.strip()

# Convertir columna de fecha a datetime
df_game['game_date'] = pd.to_datetime(df_game['game_date'], errors='coerce')

# Hacer el merge por game_id (si ambas tablas lo tienen)
df_merged = df_play.merge(
    df_game[['game_id', 'game_date']],
    on='game_id',
    how='left'
)

# Filtrar por fecha mayor a 2018-01-01 (corregido: antes decÃ­a 2028)
df_filtrado = df_merged[df_merged['game_date'] > pd.Timestamp('2018-01-01')]

# Mostrar algunas filas para verificar
print("Primeras filas filtradas:")
print(df_filtrado.head())

Columnas de df_game: Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')
Primeras filas filtradas:
           game_id  eventnum  eventmsgtype  eventmsgactiontype  period  \
10504343  21700552         2            12                   0       1
10504344  21700552         4            10                   0       1
10504345  21700552         7             2                   3       1
10504346  21700552         8             4                   0       1
10504347  21700552         9             5                   1       1

         wctimestring pctimestring  \
10504343     10:11 PM        12:00
10504344     10:11 PM        12:00
10504345     10:12 PM        11:41
10504346     10:12 PM        11:39
10504347     10:12 PM        11:24

                                           homedescription  \
10504343                                               NaN
10504344  Jump Ball Labissiere vs. Howard: Tip to Williams
10504345                                               NaN
10504346                    Randolph REBOUND (Off:0 Def:1)
10504347                     Fox Bad Pass Turnover (P1.T1)

                          neutraldescription        visitordescription  ...  \
10504343  Start of 1st Period (10:11 PM EST)                       NaN  ...
10504344                                 NaN                       NaN  ...
10504345                                 NaN  MISS Howard 5' Hook Shot  ...
10504346                                 NaN                       NaN  ...
10504347                                 NaN      Walker STEAL (1 STL)  ...

         player2_team_abbreviation person3type  player3_id     player3_name  \
10504343                       NaN         0.0           0              NaN
10504344                       CHA         5.0      101107  Marvin Williams
10504345                       NaN         0.0           0              NaN
10504346                       NaN         0.0           0              NaN
10504347                       CHA         0.0           0              NaN

         player3_team_id  player3_team_city player3_team_nickname  \
10504343             NaN                NaN                   NaN
10504344    1.610613e+09          Charlotte               Hornets
10504345             NaN                NaN                   NaN
10504346             NaN                NaN                   NaN
10504347             NaN                NaN                   NaN

         player3_team_abbreviation video_available_flag  game_date
10504343                       NaN                    0 2018-01-02
10504344                       CHA                    1 2018-01-02
10504345                       NaN                    1 2018-01-02
10504346                       NaN                    1 2018-01-02
10504347                       NaN                    1 2018-01-02

[5 rows x 35 columns]

In [ ]:

equipos_filtrados=[
    "Milwaukee Bucks",
    "Philadelphia 76ers",
    "Denver Nuggets",
    "Boston Celtics",
    "Toronto Raptors",
    "Utah Jazz",
    "Golden State Warriors",
    "Miami Heat",
    "LA Clippers",
    "Los Angeles Lakers"]
df_filtrado_equipo = df_filtrado[df_filtrado['team_name_home'].isin(equipos_filtrados)]

KeyError: 'team_name_home'

In [ ]:
# Guardar el DataFrame filtrado
df_filtrado.to_csv("../../Data Limpia/play_by_play_filtrado.csv", index=False)

In [ ]:
import pandas as pd

# Rutas a los archivos
play_by_play_path = "../../Data Cruda/play_by_play.csv"
game_path = "../../Data/Data Cruda/game.csv"

# Leer los datasets
df_play = pd.read_csv(play_by_play_path)
df_game = pd.read_csv(game_path)

# Limpiar nombres de columnas
df_game.columns = df_game.columns.str.strip()

# Convertir columna de fecha
df_game['game_date'] = pd.to_datetime(df_game['game_date'], errors='coerce')

# Merge por game_id incluyendo ambas columnas de equipos
df_merged = df_play.merge(
    df_game[['game_id', 'game_date', 'team_name_home', 'team_name_away']],
    on='game_id',
    how='left'
)

# Filtrar por fecha mayor a 2018-01-01
df_filtrado = df_merged[df_merged['game_date'] > pd.Timestamp('2018-01-01')]

# Lista de equipos a conservar
equipos_filtrados = [
    "Milwaukee Bucks",
    "Philadelphia 76ers",
    "Denver Nuggets",
    "Boston Celtics",
    "Toronto Raptors",
    "Utah Jazz",
    "Golden State Warriors",
    "Miami Heat",
    "LA Clippers",
    "Los Angeles Lakers"
]

# Filtrar si alguno de los dos equipos estÃ¡ en la lista
df_top_equipos = df_filtrado[
    (df_filtrado['team_name_home'].isin(equipos_filtrados)) |
    (df_filtrado['team_name_away'].isin(equipos_filtrados))
]

# Verificar el resultado
print(df_top_equipos[['game_id', 'team_name_home', 'team_name_away', 'game_date']].drop_duplicates().head())

#  Guardar 
df_top_equipos.to_csv("../../Data Limpia/play_by_play_top10_filtrado_home_away.csv", index=False)

KeyboardInterrupt:

In [ ]:
import pandas as pd

ruta = "../../Data Limpia/play_by_play_top10_filtrado_home_away.csv"
df = pd.read_csv(ruta)

In [ ]:
import pandas as pd

ruta = "../../Data Limpia/play_by_play_top10_filtrado_home_away.csv"
df = pd.read_csv(ruta)
# Detectar outliers con mÃ©todo IQR
def detectar_outliers_iqr(df):
    outliers = {}
    for col in df.select_dtypes(include='number').columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        filtro = (df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))
        cantidad = filtro.sum()
        if cantidad > 0:
            outliers[col] = cantidad
    return outliers

# Aplicar la funciÃ³n y mostrar los resultados en forma de lista
outliers_detectados = detectar_outliers_iqr(df)

print("Outliers detectados por columna:")
for columna, cantidad in outliers_detectados.items():
    print(f"- {columna}: {cantidad}")

Outliers detectados por columna:
- game_id: 235746
- eventmsgtype: 45143
- eventmsgactiontype: 371824
- period: 60
- person1type: 93816
- player1_id: 111196
- player1_team_id: 258
- player2_id: 294814
- player2_team_id: 108
- person3type: 264741
- player3_id: 43372
- player3_team_id: 5
- video_available_flag: 378037

## verificacion/limpieza de nulos

In [ ]:
# Â¿CuÃ¡ntas filas duplicadas completas hay?
duplicados = df.duplicated()
print("Filas duplicadas:", duplicados.sum())

Filas duplicadas: 189

In [ ]:
df[df.duplicated(keep=False)]

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,game_date,team_name_home,team_name_away
805,21700559,469,1,110,3,9:46 PM,1:10,Brown 1' Running Reverse Dunk Shot (14 PTS) (S...,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Boston Celtics,Cleveland Cavaliers
806,21700559,469,1,110,3,9:46 PM,1:10,Brown 1' Running Reverse Dunk Shot (14 PTS) (S...,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Boston Celtics,Cleveland Cavaliers
6369,21700574,145,1,1,1,9:33 PM,0:27,NaN,NaN,Hood 25' 3PT Jump Shot (7 PTS) (Udoh 1 AST),...,0,NaN,NaN,NaN,NaN,NaN,1,2018-01-05,Denver Nuggets,Utah Jazz
6370,21700574,145,1,1,1,9:33 PM,0:27,NaN,NaN,Hood 25' 3PT Jump Shot (7 PTS) (Udoh 1 AST),...,0,NaN,NaN,NaN,NaN,NaN,1,2018-01-05,Denver Nuggets,Utah Jazz
9259,21700590,294,5,1,2,10:31 PM,2:37,Ennis STEAL (1 STL),NaN,Bazemore Bad Pass Turnover (P3.T8),...,0,NaN,NaN,NaN,NaN,NaN,1,2018-01-07,Los Angeles Lakers,Atlanta Hawks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493756,22200163,406,1,58,3,9:05 PM,6:26,Brown 8' Turnaround Hook Shot (19 PTS) (Smart ...,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,1,2022-11-09,Boston Celtics,Detroit Pistons
1560860,22200438,221,5,1,2,4:53 PM,5:55,Leonard STEAL (1 STL),NaN,Porzingis Bad Pass Turnover (P1.T6),...,0,NaN,NaN,NaN,NaN,NaN,1,2022-12-17,LA Clippers,Washington Wizards
1560861,22200438,221,5,1,2,4:53 PM,5:55,Leonard STEAL (1 STL),NaN,Porzingis Bad Pass Turnover (P1.T6),...,0,NaN,NaN,NaN,NaN,NaN,1,2022-12-17,LA Clippers,Washington Wizards
1676328,22200925,286,1,98,2,8:29 PM,0:33,Poeltl 1' Cutting Layup Shot (7 PTS) (Siakam 2...,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,1,2023-02-28,Toronto Raptors,Chicago Bulls
1676329,22200925,286,1,98,2,8:29 PM,0:33,Poeltl 1' Cutting Layup Shot (7 PTS) (Siakam 2...,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,1,2023-02-28,Toronto Raptors,Chicago Bulls

In [ ]:
df = df.drop_duplicates()

In [ ]:
duplicados = df.duplicated()
print("Filas duplicadas:", duplicados.sum())

Filas duplicadas: 0

## verificacion/limpieza de nulos

In [ ]:
df.isnull().sum(axis=1)

0          19
1           4
2          14
3          14
4           8
           ..
1798711     7
1798712    19
1798713    14
1798714    14
1798715    17
Length: 1798527, dtype: int64

In [ ]:
nulos = df.isnull().sum()
porcentaje = (nulos / len(df)) * 100

pd.DataFrame({'Nulos': nulos, 'Porcentaje': porcentaje.round(2)})

                             Nulos  Porcentaje
game_id                          0        0.00
eventnum                         0        0.00
eventmsgtype                     0        0.00
eventmsgactiontype               0        0.00
period                           0        0.00
wctimestring                     0        0.00
pctimestring                     0        0.00
homedescription             865313       48.11
neutraldescription         1758992       97.80
visitordescription          877850       48.81
score                      1317038       73.23
scoremargin                1317038       73.23
person1type                    465        0.03
player1_id                       0        0.00
player1_name                147428        8.20
player1_team_id             149820        8.33
player1_team_city           149820        8.33
player1_team_nickname       149820        8.33
player1_team_abbreviation   149820        8.33
person2type                      0        0.00
player2_id                       0        0.00
player2_name               1207462       67.14
player2_team_id            1207461       67.14
player2_team_city          1207461       67.14
player2_team_nickname      1207461       67.14
player2_team_abbreviation  1207461       67.14
person3type                      0        0.00
player3_id                       0        0.00
player3_name               1755435       97.60
player3_team_id            1755435       97.60
player3_team_city          1755435       97.60
player3_team_nickname      1755435       97.60
player3_team_abbreviation  1755435       97.60
video_available_flag             0        0.00
game_date                        0        0.00
team_name_home                   0        0.00
team_name_away                   0        0.00

In [ ]:
df[df['player2_name'].notnull()][['player2_name']].head(20)

       player2_name
1        Marc Gasol
4     C.J. Williams
8     C.J. Williams
9     Blake Griffin
10     Tyreke Evans
11   DeAndre Jordan
15   JaMychal Green
22    Blake Griffin
25   Milos Teodosic
28     Wayne Selden
31   Milos Teodosic
32    Jarell Martin
33  James Ennis III
35    Blake Griffin
39     Tyreke Evans
49       Marc Gasol
50   Milos Teodosic
51    Jarell Martin
52   Milos Teodosic
53     Tyreke Evans

In [ ]:
columnas_a_borrar = [
    'player2_team_city', 'player2_team_nickname', 'player2_team_abbreviation',
    'player3_id', 'player3_name', 'player3_team_id', 
    'player3_team_city', 'player3_team_nickname', 'player3_team_abbreviation'
]

df = df.drop(columns=columnas_a_borrar)

In [ ]:
df.to_csv("../../Data Limpia/play_by_play_filtrado_final.csv", index=False)

In [ ]:
# FunciÃ³n que identifica quÃ© equipo del top 10 estuvo en el partido
import pandas as pd
ruta = "../../Data Limpia/play_by_play_filtrado_final.csv"
df = pd.read_csv(ruta)
equipos_filtrados = [
    "Milwaukee Bucks",
    "Philadelphia 76ers",
    "Denver Nuggets",
    "Boston Celtics",
    "Toronto Raptors",
    "Utah Jazz",
    "Golden State Warriors",
    "Miami Heat",
    "LA Clippers",
    "Los Angeles Lakers"
]
def equipo_participante(row):
    if row['team_name_home'] in equipos_filtrados:
        return row['team_name_home']
    elif row['team_name_away'] in equipos_filtrados:
        return row['team_name_away']
    else:
        return None

# Crear la nueva columna
df['equipo_top10_presente'] = df.apply(equipo_participante, axis=1)

In [ ]:
df = df.drop(columns=ne)

In [ ]:
df.to_csv("../../Data Limpia/play_by_play_filtrado_final.csv", index=False)