LECTURA DEL CSV PLAYER SIN DUPLICADOS / VAMOS A VERIFICAR JUGADORES ACTIVOS Y NO ACTIVOS Y UNIR ESA COLUMNA A LA TABLA COMMON PLAYER

- ADEMAS LECTURA DEL CSV COMMON PLAYER E INACTIVE PLAYER PARA HACER FUSION

In [1]:
# üìå Importamos las librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ------------------------------
# üìå Cargamos el archivo player_filtrado_sin_duplicados.csv
# ------------------------------
ruta_player = r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\player_filtrado_sin_duplicados.csv"
player_filtrado_sin_duplicados = pd.read_csv(ruta_player)

# ------------------------------
# üìå Cargamos el archivo common_player_info.csv
# ------------------------------
ruta_common = r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\madre\common_player_info.csv"
common_player_info = pd.read_csv(ruta_common)

# ------------------------------
# üìå Cargamos el archivo inactive_players.csv
# ------------------------------
ruta_inactive = r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\madre\inactive_players.csv"
inactive_players = pd.read_csv(ruta_inactive)

# ------------------------------
# üìå Mostramos las primeras filas de cada DataFrame
# ------------------------------
print("üîç Tabla: player_filtrado_sin_duplicados")
display(player_filtrado_sin_duplicados.head())

print("üîç Tabla: common_player_info")
display(common_player_info.head())

print("üîç Tabla: inactive_players")
display(inactive_players.head())

üîç Tabla: player_filtrado_sin_duplicados

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

üîç Tabla: common_player_info

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,24/6/1968,Duke,USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,16/4/1947,UCLA,USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,3/11/1974,San Jose State,France,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,11/12/1976,California,USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,6/5/1954,Indiana,USA,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N

üîç Tabla: inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL

- VERIFICAMOS QUE LA COLUMNA IS_ACTIVE DE LA TABLA PLAYER NO TENGA FILAS VACIAS

In [2]:
# üìå Verificar si hay valores nulos en la columna 'is_active'
nulos_is_active = player_filtrado_sin_duplicados['is_active'].isnull().sum()

print(f"‚ùì Cantidad de valores nulos en 'is_active': {nulos_is_active}")

‚ùì Cantidad de valores nulos en 'is_active': 0

- HACEMOS EL MERGE DE LA COLUMNA IS_ACTIVE DE LA TABLA PLAYER A LA TABLA COMMON_PLAYER

In [3]:
# üìå Hacemos el merge para agregar la columna is_active a common_player_info
common_player_info = common_player_info.merge(
    player_filtrado_sin_duplicados[['id', 'is_active']],
    how='left',
    left_on='person_id',
    right_on='id')

# üìå Mostramos las primeras filas para confirmar
print("‚úÖ Merge completado. Vista previa:")
common_player_info.head()

‚úÖ Merge completado. Vista previa:

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag,id,is_active
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,24/6/1968,Duke,USA,...,1994.0,N,Y,Y,1990,1,25,N,76001,0
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,16/4/1947,UCLA,USA,...,1988.0,N,Y,Y,1969,1,1,Y,76003,0
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,3/11/1974,San Jose State,France,...,2003.0,N,Y,Y,1997,1,11,N,1505,0
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,11/12/1976,California,USA,...,2007.0,N,Y,Y,1996,1,3,N,949,0
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,6/5/1954,Indiana,USA,...,1980.0,N,Y,Y,1976,3,43,N,76005,0

- VERIFICAMOS CUANTOS NAN HAY EN LA COLUMNA IS_ACTIVE DE LA TABLA COMMON_PLAYER

In [4]:
# üìå Contar cu√°ntos valores nulos hay en la columna 'is_active'
nulos_is_active = common_player_info['is_active'].isnull().sum()

print(f"‚ùì Cantidad de jugadores sin valor en 'is_active' (NaN): {nulos_is_active}")

‚ùì Cantidad de jugadores sin valor en 'is_active' (NaN): 0

- VERIFICAMOS LA CANTIDAD DE ID UNICOS DE LA TABLA COMMON Y DE LA TABLA PLAYER

In [5]:
# üìå Cantidad de IDs √∫nicos en player_filtrado_sin_duplicados
ids_unicos_player = player_filtrado_sin_duplicados['id'].nunique()
print(f"üü¢ IDs √∫nicos en player_filtrado_sin_duplicados: {ids_unicos_player}")

# üìå Cantidad de IDs √∫nicos en common_player_info (columna person_id)
ids_unicos_common = common_player_info['person_id'].nunique()
print(f"üîµ IDs √∫nicos en common_player_info: {ids_unicos_common}")

üü¢ IDs √∫nicos en player_filtrado_sin_duplicados: 4823
üîµ IDs √∫nicos en common_player_info: 4171

- ELIMINAMOS LA COLUMNA ID QUE TRAJIMOS DE LA TABLA PLAYER

In [7]:
# üìå Eliminamos la columna 'id' que ya no necesitamos
common_player_info.drop(columns=['id'], inplace=True)

# üìå Confirmamos que se elimin√≥
print("‚úÖ Columna 'id' eliminada de common_player_info.")

‚úÖ Columna 'id' eliminada de common_player_info.

- EXPORTAMOS LA TABLA COMMON_PLAYER CON LA COLUMNA AGREGADA DE IS_ACTIVE

In [8]:
# üìå Exportar el DataFrame enriquecido a CSV
common_player_info.to_csv(
    r"C:\Users\User\OneDrive\Documentos\proyecto_final\data_en_csv\common_player_info_mas_activos.csv",
    index=False)

print("‚úÖ Archivo exportado correctamente como common_player_info_mas_activos.csv")

‚úÖ Archivo exportado correctamente como common_player_info_mas_activos.csv