In [9]:
# ðŸ“Œ Importamos las librerÃ­as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# ðŸ“Œ Ruta relativa al archivo CSV (ajustar segÃºn tu estructura)
ruta = "../../Data/Data Cruda/common_player_info_mas_activos.csv"

# ðŸ“Œ Cargamos el CSV
df_inactive = pd.read_csv(ruta)

# ðŸ“Œ Mostramos estructura general del DataFrame
df_inactive.info()
df_inactive.head()
df_inactive.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         4171 non-null   int64
 1   first_name                        4171 non-null   object
 2   last_name                         4171 non-null   object
 3   display_first_last                4171 non-null   object
 4   display_last_comma_first          4171 non-null   object
 5   display_fi_last                   4171 non-null   object
 6   player_slug                       4171 non-null   object
 7   birthdate                         4171 non-null   object
 8   school                            4156 non-null   object
 9   country                           4170 non-null   object
 10  last_affiliation                  4171 non-null   object
 11  height                            4075 non-null   object
 12  weight                            4071 non-null   float64
 13  season_exp                        4171 non-null   int64
 14  jersey                            3191 non-null   object
 15  position                          4108 non-null   object
 16  rosterstatus                      4171 non-null   object
 17  games_played_current_season_flag  4171 non-null   object
 18  team_id                           4171 non-null   int64
 19  team_name                         3469 non-null   object
 20  team_abbreviation                 3469 non-null   object
 21  team_code                         3469 non-null   object
 22  team_city                         3469 non-null   object
 23  playercode                        4170 non-null   object
 24  from_year                         4156 non-null   float64
 25  to_year                           4156 non-null   float64
 26  dleague_flag                      4171 non-null   object
 27  nba_flag                          4171 non-null   object
 28  games_played_flag                 4171 non-null   object
 29  draft_year                        4171 non-null   object
 30  draft_round                       4007 non-null   object
 31  draft_number                      3948 non-null   object
 32  greatest_75_flag                  4171 non-null   object
 33  is_active                         4171 non-null   int64
dtypes: float64(3), int64(4), object(27)
memory usage: 1.1+ MB

(4171, 34)

In [10]:
# ðŸ“Œ Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("ðŸ“Š Valores nulos por columna:")
print(nulos)

ðŸ“Š Valores nulos por columna:
jersey               980
team_name            702
team_abbreviation    702
team_code            702
team_city            702
draft_number         223
draft_round          164
weight               100
height                96
position              63
school                15
from_year             15
to_year               15
country                1
playercode             1
dtype: int64

In [11]:
#cambio el tipo de las columnas a datetime
df_inactive['from_year'] = pd.to_datetime(df_inactive['from_year'], errors='coerce')
df_inactive['to_year'] = pd.to_datetime(df_inactive['to_year'], errors='coerce')

In [12]:
#verifico que esten en datetime
df_inactive[['from_year', 'to_year']].dtypes

from_year    datetime64[ns]
to_year      datetime64[ns]
dtype: object

In [13]:
#creo nueva columna que indique si jugo despues de 2018
df_inactive['jugo_desde_2018'] = df_inactive['to_year'].dt.year >= 2018
df_inactive['jugo_desde_2018'] = df_inactive['jugo_desde_2018'].map({True: 'SÃ­', False: 'No'})

In [14]:
print(df_inactive['jugo_desde_2018'].value_counts(dropna=False))

jugo_desde_2018
No    4171
Name: count, dtype: int64

In [15]:
print(df_inactive['jugo_desde_2018'].unique())

['No']

In [16]:
print(df_inactive['to_year'].head(10))
print(df_inactive['to_year'].dt.year.head(10))

0   1970-01-01 00:00:00.000001994
1   1970-01-01 00:00:00.000001988
2   1970-01-01 00:00:00.000002003
3   1970-01-01 00:00:00.000002007
4   1970-01-01 00:00:00.000001980
5   1970-01-01 00:00:00.000001956
6   1970-01-01 00:00:00.000001947
7   1970-01-01 00:00:00.000002018
8   1970-01-01 00:00:00.000002023
9   1970-01-01 00:00:00.000002008
Name: to_year, dtype: datetime64[ns]
0    1970.0
1    1970.0
2    1970.0
3    1970.0
4    1970.0
5    1970.0
6    1970.0
7    1970.0
8    1970.0
9    1970.0
Name: to_year, dtype: float64

In [17]:
# Si la columna tiene nÃºmeros como 1994, 2018 pero estÃ¡ en tipo datetime raro, convertir a int:
df_inactive['to_year_numeric'] = pd.to_numeric(df_inactive['to_year'], errors='coerce')

print(df_inactive['to_year_numeric'].head(10))

0    1994
1    1988
2    2003
3    2007
4    1980
5    1956
6    1947
7    2018
8    2023
9    2008
Name: to_year_numeric, dtype: int64

In [18]:
df_inactive['jugo_desde_2018'] = df_inactive['to_year_numeric'] >= 2018
df_inactive['jugo_desde_2018'] = df_inactive['jugo_desde_2018'].map({True: 'SÃ­', False: 'No'})

In [19]:
print(df_inactive['jugo_desde_2018'].unique())

['No' 'SÃ­']

In [20]:
print(df_inactive['jugo_desde_2018'].value_counts(dropna=False))

jugo_desde_2018
No    3335
SÃ­     836
Name: count, dtype: int64

In [21]:
df_inactive = df_inactive[df_inactive['jugo_desde_2018'] == 'SÃ­']

In [22]:
# ðŸ“Œ Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("ðŸ“Š Valores nulos por columna:")
print(nulos)

ðŸ“Š Valores nulos por columna:
jersey               186
team_name            185
team_abbreviation    185
team_code            185
team_city            185
draft_number          33
draft_round           32
school                12
dtype: int64

In [23]:
#eliminar los valores nulos en la columna team name
df_inactive = df_inactive[~df_inactive['team_name'].isnull()]

In [24]:
df_inactive.info()
df_inactive.head()
df_inactive.shape

<class 'pandas.core.frame.DataFrame'>
Index: 651 entries, 8 to 4169
Data columns (total 36 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         651 non-null    int64
 1   first_name                        651 non-null    object
 2   last_name                         651 non-null    object
 3   display_first_last                651 non-null    object
 4   display_last_comma_first          651 non-null    object
 5   display_fi_last                   651 non-null    object
 6   player_slug                       651 non-null    object
 7   birthdate                         651 non-null    object
 8   school                            645 non-null    object
 9   country                           651 non-null    object
 10  last_affiliation                  651 non-null    object
 11  height                            651 non-null    object
 12  weight                            651 non-null    float64
 13  season_exp                        651 non-null    int64
 14  jersey                            650 non-null    object
 15  position                          651 non-null    object
 16  rosterstatus                      651 non-null    object
 17  games_played_current_season_flag  651 non-null    object
 18  team_id                           651 non-null    int64
 19  team_name                         651 non-null    object
 20  team_abbreviation                 651 non-null    object
 21  team_code                         651 non-null    object
 22  team_city                         651 non-null    object
 23  playercode                        651 non-null    object
 24  from_year                         651 non-null    datetime64[ns]
 25  to_year                           651 non-null    datetime64[ns]
 26  dleague_flag                      651 non-null    object
 27  nba_flag                          651 non-null    object
 28  games_played_flag                 651 non-null    object
 29  draft_year                        651 non-null    object
 30  draft_round                       636 non-null    object
 31  draft_number                      635 non-null    object
 32  greatest_75_flag                  651 non-null    object
 33  is_active                         651 non-null    int64
 34  jugo_desde_2018                   651 non-null    object
 35  to_year_numeric                   651 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(28)
memory usage: 188.2+ KB

(651, 36)

In [25]:
# ðŸ“Œ Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# ðŸ“Œ Ver las primeras filas con nulos
filas_con_nulos.head()

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag,is_active,jugo_desde_2018,to_year_numeric
23,1629061,Deng,Adel,Deng Adel,"Adel, Deng",D. Adel,deng-adel,1/2/1997,Louisville,South Sudan,...,Y,Y,Y,2018,NaN,NaN,N,0,SÃ­,2018
323,1629833,Keljin,Blevins,Keljin Blevins,"Blevins, Keljin",K. Blevins,keljin-blevins,24/11/1995,Montana State,USA,...,Y,Y,Y,2019,NaN,NaN,N,0,SÃ­,2021
331,1629129,Trevon,Bluiett,Trevon Bluiett,"Bluiett, Trevon",T. Bluiett,trevon-bluiett,4/11/1994,Xavier,USA,...,Y,N,Y,2018,NaN,NaN,N,0,SÃ­,2018
450,1629717,Armoni,Brooks,Armoni Brooks,"Brooks, Armoni",A. Brooks,armoni-brooks,5/6/1998,Houston,USA,...,Y,Y,Y,2019,NaN,NaN,N,0,SÃ­,2021
583,1629962,Devin,Cannady,Devin Cannady,"Cannady, Devin",D. Cannady,devin-cannady,21/5/1996,Princeton,USA,...,Y,Y,Y,2019,NaN,NaN,N,1,SÃ­,2021

In [26]:
#eliminar los valores nulos en la columna team name
df_inactive = df_inactive[~df_inactive['person_id'].isnull()]

In [27]:
# ðŸ“Œ Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# ðŸ“Œ Ver las primeras filas con nulos
filas_con_nulos.head()

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,...,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag,is_active,jugo_desde_2018,to_year_numeric
23,1629061,Deng,Adel,Deng Adel,"Adel, Deng",D. Adel,deng-adel,1/2/1997,Louisville,South Sudan,...,Y,Y,Y,2018,NaN,NaN,N,0,SÃ­,2018
323,1629833,Keljin,Blevins,Keljin Blevins,"Blevins, Keljin",K. Blevins,keljin-blevins,24/11/1995,Montana State,USA,...,Y,Y,Y,2019,NaN,NaN,N,0,SÃ­,2021
331,1629129,Trevon,Bluiett,Trevon Bluiett,"Bluiett, Trevon",T. Bluiett,trevon-bluiett,4/11/1994,Xavier,USA,...,Y,N,Y,2018,NaN,NaN,N,0,SÃ­,2018
450,1629717,Armoni,Brooks,Armoni Brooks,"Brooks, Armoni",A. Brooks,armoni-brooks,5/6/1998,Houston,USA,...,Y,Y,Y,2019,NaN,NaN,N,0,SÃ­,2021
583,1629962,Devin,Cannady,Devin Cannady,"Cannady, Devin",D. Cannady,devin-cannady,21/5/1996,Princeton,USA,...,Y,Y,Y,2019,NaN,NaN,N,1,SÃ­,2021

In [28]:
nulos = df_inactive['person_id'].isnull().sum()
print(f"Cantidad de valores nulos en 'person_id': {nulos}")

Cantidad de valores nulos en 'person_id': 0

In [29]:
# ðŸ“Œ Verificar si hay filas duplicadas en todo el DataFrame
duplicados = df_inactive.duplicated()

# ðŸ“Œ Mostrar cuÃ¡ntas filas estÃ¡n duplicadas
print(f"Filas duplicadas: {duplicados.sum()}")

# ðŸ“Œ Mostrar las filas duplicadas
df_inactive[duplicados]

Filas duplicadas: 0

Empty DataFrame
Columns: [person_id, first_name, last_name, display_first_last, display_last_comma_first, display_fi_last, player_slug, birthdate, school, country, last_affiliation, height, weight, season_exp, jersey, position, rosterstatus, games_played_current_season_flag, team_id, team_name, team_abbreviation, team_code, team_city, playercode, from_year, to_year, dleague_flag, nba_flag, games_played_flag, draft_year, draft_round, draft_number, greatest_75_flag, is_active, jugo_desde_2018, to_year_numeric]
Index: []

[0 rows x 36 columns]

In [30]:
# ðŸ“Œ Exportar el DataFrame limpio a CSV en la carpeta del proyecto
ruta_salida = "../../Data/Data Limpia/common_player_info_mas_activos_limpios.csv"
df_inactive.to_csv(ruta_salida, sep=',', index=False, decimal='.')

print("âœ… Archivo exportado correctamente como common_player_info_mas_activos_limpios.csv")

âœ… Archivo exportado correctamente como common_player_info_mas_activos_limpios.csv