In [ ]:
# 📌 Importamos las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# 📌 Ruta del archivo CSV #draft_history.csv
ruta = "../../Data/Data Cruda/draft_history.csv"

# 📌 Cargamos el CSV
df_inactive = pd.read_csv(ruta)

# 📌 Mostramos estructura general del DataFrame
df_inactive.info()
df_inactive.head()
df_inactive.shape

Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7990 entries, 0 to 7989
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person_id            7990 non-null   int64
 1   player_name          7990 non-null   object
 2   season               7990 non-null   int64
 3   round_number         7990 non-null   int64
 4   round_pick           7990 non-null   int64
 5   overall_pick         7990 non-null   int64
 6   draft_type           7990 non-null   object
 7   team_id              7990 non-null   int64
 8   team_city            7990 non-null   object
 9   team_name            7990 non-null   object
 10  team_abbreviation    7990 non-null   object
 11  organization         7971 non-null   object
 12  organization_type    7971 non-null   object
 13  player_profile_flag  7990 non-null   int64
dtypes: int64(7), object(7)
memory usage: 874.0+ KB

(7990, 14)

In [6]:
# 📌 Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("📊 Valores nulos por columna:")
print(nulos)

📊 Valores nulos por columna:
organization         19
organization_type    19
dtype: int64

In [7]:
# 📌 Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# 📌 Ver las primeras filas con nulos
filas_con_nulos.head()

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
45,79278,Bob Alemeida,1947,0,0,0,Draft,1610612738,Boston,Celtics,BOS,NaN,NaN,0
48,79281,George Petrovick,1947,0,0,0,Draft,1610612738,Boston,Celtics,BOS,NaN,NaN,0
53,79286,Ed Golub,1947,0,0,0,Draft,1610612752,New York,Knicks,NYK,NaN,NaN,0
63,79296,George Brown,1947,0,0,0,Draft,1610610031,Pittsburgh,Ironmen,PIT,NaN,NaN,0
67,79301,Joe Barry,1947,0,0,0,Draft,1610610032,Providence,Steamrollers,PRO,NaN,NaN,0

In [ ]:
#acá estoy viendo que tipo de dato es la columna season
print(df_inactive['season'].head())
print(df_inactive['season'].dtype)

0    1947
1    1947
2    1947
3    1947
4    1947
Name: season, dtype: int64
int64

In [ ]:
#filtro a partir de la temporada 2018
df_inactive = df_inactive[df_inactive['season'] >= 2018]

In [10]:
#borro las filas que tengan un 0 en round pick o overall pick
df_inactive= df_inactive[~((df_inactive['round_pick'] == 0) | (df_inactive['overall_pick'] == 0))]

In [11]:
# 📌 Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("📊 Valores nulos por columna:")
print(nulos)

📊 Valores nulos por columna:
organization         1
organization_type    1
dtype: int64

In [ ]:
# 📌 Paso 1: Detectar duplicados en la columna 'person_id'
duplicados_id = df_inactive[df_inactive.duplicated(subset='person_id', keep=False)]

# 📌 Paso 2: Mostrar los duplicados encontrados
print(f"🔁 Total de filas con id duplicado: {len(duplicados_id)}")
duplicados_id.head()

🔁 Total de filas con id duplicado: 0

Empty DataFrame
Columns: [person_id, player_name, season, round_number, round_pick, overall_pick, draft_type, team_id, team_city, team_name, team_abbreviation, organization, organization_type, player_profile_flag]
Index: []

In [ ]:
# 📌 Exportar el DataFrame limpio a CSV en la carpeta del proyecto
ruta_salida = "../../Data/Data Limpia/draft_history.csv"
df_inactive.to_csv(ruta_salida, sep=',', index=False, decimal='.')

print("✅ Archivo exportado correctamente como draft_history.csv")

archivo exportado correctamente